
body {
    font-family: 'Verdana', Helvetica, sans-serif; /*font-family: 'Times New Roman', Times, serif;*/
    background-color: #C9DABF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background-color: #9CA986;
    font-size: 15px; /*20*/
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 800px;
    color: #254336;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 60px;
    color: #254336;
}

.question {
    margin-bottom: 20px;
}

.button button {
    background-color: #808D7C;
    color: #254336;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    width: 40%;
}

a.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-decoration: none;
}

#kiEredmeny{
    text-align: center;
}

#eredmenySzoveg{
    text-align: center;
}